@font-face {
    font-family: 'Poppins-B';
    src: url('../../../assets/fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-L';
    src: url('../../../assets/fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-M';
    src: url('../../../assets/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-R';
    src: url('../../../assets/fonts/Poppins-Regular.ttf') format('truetype');
}
