<div class="advantages">
    <img class="bg-img" src="../../../assets/img/icons_transparent.png" alt="">
    <img class="bg-img" src="../../../assets/img/icons_transparent.png" alt="">
    <img class="bg-img" src="../../../assets/img/icons_transparent.png" alt="">
    <div class="container-fluid">
        <div class="container">
            <div class="main-t">
                <h4>02 Our advantages</h4><br>
                <h2>Advantages of Our Writing Services</h2>
            </div>

            <div class="content">
                <div class="white-bord">
                    <img src="../../../assets/img/02-img-1.png" alt=""><br>
                    <h3>Professionally-qualified <br> writing experts</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </div>
                <div class="white-bord">
                    <img src="../../../assets/img/02-img-2.png" alt=""><br>
                    <h3>Commitment to deliver papers by deadline</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </div>
                <div class="white-bord">
                    <img src="../../../assets/img/02-img-3.png" alt=""><br>
                    <h3>Top-quality, at a great price - guaranteed</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </div>
            </div>
            <div class="btn">
                <button>Place an order</button>
</div>


















        </div>











    </div>

</div>

</div>