<div class="container-fluid two">
  <div class="block-one">
    <div class="container">
      <div class="text-content">
        <h2>BlueEssaySite.net - <br>
          <span>expert help for custom Written</span>
        </h2>
        <div class="line">
          <div class="orange-line"></div>
        </div>
        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
        </p>
        <button>PLACE AN ORDER</button>
      </div>
    </div>

    <div class="blue-block">
      <form class="blue-block-form">
        <fieldset>
          <label for="paper-type">Type of paper</label>
          <select id="paper-type">
            <option>Placeholder text</option>
            <option>Option 1</option>
            <option>Option 2</option>
          </select>
        </fieldset>

        <fieldset>
          <label for="writer-level">Writer level</label>
          <select id="writer-level">
            <option>High school</option>
            <option>College</option>
            <option>University</option>
          </select>
        </fieldset>

        <fieldset>
          <label for="urgency">Urgency</label>
          <select id="urgency">
            <option>21 days</option>
            <option>14 days</option>
            <option>7 days</option>
          </select>
        </fieldset>

        <fieldset>
          <label for="num-pages">Number of pages</label>
          <div class="number-input-group"> 
            <button type="button" class="minus">-</button> 
            <input type="number" id="num-pages" value="1" min="1">
            <button type="button" class="plus">+</button>
          </div>
        </fieldset>

        <button type="submit" class="continue-button">Continue</button>
      </form>

      <div class="girl-protruding-block">
        <img src="../../../assets/img/girl.png" alt="Girl Image">
      </div>
    </div>

  </div>
</div>
