<div class="blue_last">
    <div class="container-fluid">
        <div class="container">
            <div class="main-container">
                <div class="logo-img">
                    <img src="../../../assets/img/Gemini_Generated_Image_xs4th4xs4th4xs4t-Photoroom.png" alt="logo">
                </div>
                <div class="nav-links">
                    <ul type="none">
                        <li>HOME</li>
                        <li>ABOUT US</li>
                        <li>ORDER NOW</li>
                        <li>DISCLAMER</li>
                        <li>WHY US</li>
                        <li>CONTACTS</li>
                        <li>BLOG</li>
                    </ul>
                </div>
            </div>
            <div class="sections">

                <p>But I must explain to you how <br>
                    Mistaken idea of denouncing <br>
                    Praising pain was born <br>
                    Account of the system <br>
                    Great explorer of the truth <br>
                    No one rejects, dislikes <br>
                    Mistaken idea of denouncing <br>
                    Praising pain was born</p>

                <p>But I must explain to you how <br>
                    Mistaken idea of denouncing <br>
                    Praising pain was born <br>
                    Account of the system <br>
                    Great explorer of the truth <br>
                    No one rejects, dislikes <br>
                    Mistaken idea of denouncing <br>
                    Praising pain was born</p>


                <p>But I must explain to you how <br>
                    Mistaken idea of denouncing <br>
                    Praising pain was born <br>
                    Account of the system <br>
                    Great explorer of the truth <br>
                    No one rejects, dislikes <br>
                    Mistaken idea of denouncing <br>
                    Praising pain was born</p>


                <p>But I must explain to you how <br>
                    Mistaken idea of denouncing <br>
                    Praising pain was born <br>
                    Account of the system <br>
                    Great explorer of the truth <br>
                    No one rejects, dislikes <br>
                    Mistaken idea of denouncing <br>
                    Praising pain was born</p>
            </div>
            <div class="copyright">
                <p>Copyright В© 2025 BlueEssaySite.net <br>
                    All rights reserved.</p>

                <div class="social">
                    <div class="items item1"></div>
                    <div class="items item2"></div>
                    <div class="items item3"></div>
                    <div class="items item4"></div>
                </div>

                <div class="phone">
                    <div class="items item5"></div>
                    <div class="text">
                        <h4>Toll free:</h4>
                        <strong>+ 3 044 111 2732</strong>
                    </div>

                </div>

                <div class="email">
                    <div class="items item6"></div>
                    <div class="text">
                        <h4>Email</h4>
                        <strong>blueessaysite@gmail.com</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>