<div class="discount">
    <img class="bg-img" src="../../../assets/img/04-bg.png" alt="">
    <img class="bg-img" src="../../../assets/img/04-bg.png" alt="">
    <img class="bg-img" src="../../../assets/img/04-bg.png" alt="">
    <div class="conuainer-fluid">
        <div class="container">
            <div class="text">
                <h2>Our discount program</h2>
                <h3>By utilizing elements and principles of Material Design, we were able to create a framework that
                    incorporates </h3>
            </div>
            <div class="white-block">
                <div class="w-cont">
                    <div class="item item1">
                        <h2>4% <br> OFF</h2>
                        <p>for more than</p>
                    </div>
                    <div class="item item2">
                        <h2>5% <br> OFF</h2>
                        <p>for more than</p>
                    </div>
                    <div class="item item3">
                        <h2>10% <br> OFF</h2>
                        <p>for more than</p>
                    </div>
                    <div class="item item4">
                        <h2>15% <br> OFF</h2>
                        <p>for more than</p>
                    </div>
                </div>
                <div class="blue-bg">
                    <div class="cont">
                        <h3>Try our service & <br>get huge discounts</h3><br>
                        <img class="sciss" src="../../../assets/img/scissors.png" alt="">
                        <img class="stars" src="../../../assets/img/stars.png" alt="">
                        <img class="baloon" src="../../../assets/img/balloon.png" alt="">
                        <div class="d-blue">
                            <h4>get</h4>
                            <h2>15%<br>OFF</h2>
                            <p>for your 1st order</p>

                        </div><br>
                        <p>Use discount15 as discount code</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>