<header class="container-fluid head"> 
    <div class="container">
    <div class="logo-img">
        <img src="../../../assets/img/logo.png" alt="logo">
    </div>
    <div class="container service">
        <h2>SERVICES</h2>
        <h2>ABOUT US</h2>
        <h2>HOW IT WORKS</h2>
        <div class="images-icon">
            <img src="../../../assets/img/phone.png" alt="">
        </div>
        <button class="blue">SIGN IN</button>
        <button class="orange">ORDER</button>
        <div class="images-icon">
                <img src="../../../assets/img/burger.png" alt="">
            </div>
    </div>
    </div>
</header>