<div class="testi">
    <div class="container-fluid">
        <div class="container">
            <div class="text">
                <h2>What our clients say</h2>
            </div>
            <div class="carousel">
                <img class="bgg" src="../../../assets/img/icons_transparent.png" alt="">

                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">


                <div class="slides">
                    <div class="slide s1">
                        <img src="../../../assets/img/05-user-01.png" alt="">
                        <p>Using BestEssayService.net was possibly the best choice of my academic career. Even though I
                            work full-time, I managed to submit all my assignments on time owing to the broad array of
                            services on offer. No matter what written work I needed, help was available. I would give a
                            full ten marks.</p>
                        <h3>Lorna Grey</h3>
                    </div>
                    <div class="slide s2">
                        <img src="../../../assets/img/05-user-02.png" alt="">
                        <p>I’m incredibly grateful to BestEssayService.net for helping me stay on top of my studies.
                            Working full-time made it hard to keep up, but their wide selection of writing assistance
                            made everything possible. No matter the assignment, their support was reliable. I would rate
                            their service a solid ten.</p>
                        <h3>Jessica Lee</h3>
                    </div>
                    <div class="slide s3">
                        <img src="../../../assets/img/05-user-03.png" alt="">
                        <p>Using BestEssayService.net was a game changer for my academic success. Despite juggling a
                            full-time job, I always submitted my papers on schedule thanks to their excellent range of
                            services. Whatever the writing task, they had me covered. I confidently give them a perfect
                            ten out of ten.</p>
                        <h3>Mark Thompson</h3>
                    </div>
                </div>

                <div class="dots">
                    <label for="slide1" class="dot dot1"></label>
                    <label for="slide2" class="dot dot2"></label>
                    <label for="slide3" class="dot dot3"></label>
                </div>
            </div>
        </div>
    </div>
</div>